<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>留言板</title>
  <link href=/static/css/comment/app.37ecabfe3c5fba06b23798cce11a0b9d.css rel=stylesheet>
</head>

<body>
  <div id=app></div>
  <script type=text/javascript src=/static/js/comment/manifest.6e74c9156ef778c2231f.js></script>
  <script type=text/javascript src=/static/js/comment/vendor.04399f8dcfaa7a6e9ab7.js></script>
  <script type=text/javascript src=/static/js/comment/app.13ed3890725421c425e2.js></script>
</body>

</html>
