<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>留言板</title>
    <link rel="stylesheet" href="/static/css/common/element-ui.css">
</head>
<body>
    <div id="app">
        <el-button v-on:click="visible = true">按钮</el-button>
        <el-dialog v-bind:visible.sync="visible" title="Hello World">
            <p>欢迎使用Element</p>
        </el-dialog>
    </div>
</body>
</html>
<script src="/static/js/common/vue2.5.9.js"></script>
<script src="/static/js/common/element-ui.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function(){
            return {
                visible: false
            }
        }
    })
</script>