<!-- 顶部 s-->
    <nav class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand logo" style="padding-top: 9px;"><img src="/static/img/common/bai3.png" style="width: 87px"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% if light == 1 %}
                        class="active"
                    {% endif %}>
                        <a href="/">首页</a>
                    </li>
                    <li{% if light == 2 %}
                        class="active"
                    {% endif %} >
                        <a href="/articlesList">文章 <span class="badge">{{ total.1 }}</span></a>
                    </li>
                    <li {% if light == 3 %}
                        class="active"
                    {% endif %}>
                        <a href="/show">作品 <span class="badge">{{ total.0 }}</span></a>
                    </li>
                    <li>
                        <a href="javascript: alert('暂未开发')">论坛</a>
                    </li>
                    <li>
                        <a href="javascript: alert('暂未开发')">商城</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            联系我
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <img src="/static/img/common/weixin.png" alt="weixin" style="width: 175px">
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
{#                    <li class="active">#}
{#                        <a href="#">个人中心</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#">退出</a>#}
{#                    </li>#}
                    <li class="active">
                        <a href="/login" >登录</a>
                    </li>
                    <li>
{#                        <a href="javascript: alert('对不起,当前网站不对外开放注册。\n需要测试账号请联系站长。')">注册</a>#}
                        <a href="/register">注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 顶部 e -->