{# 边栏 #}
<aside class="col-md-3 visible-md visible-lg sticky" >
<div style="background: #fff;padding: 20px 10px;border-radius: 5px">
        <img src="/static/img/common/logo.png" class="img-responsive img-rounded center-block" style="width: 50%;margin-bottom: 20px">
        <h4 class="text-center" style="font-weight: bolder">白三</h4>
        <p class="text-center text-muted" style="font-size: 1.3rem">
            为什么这么努力，因为有想要的生活
        </p>
        <div class="row" style="margin: 0 5px">
            <div class="col-md-4 text-center">
                <a href="/index/articlesList" class="text-muted">
                    <p style="margin: 0"><strong>{{ total.1 }}</strong></p>
                    <p>日志</p>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="/index/articlesList" class="text-muted">
                    <p style="margin: 0"><strong>{{ total.3 }}</strong></p>
                    <p>分类</p>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="/index/articlesList" class="text-muted">
                    <p style="margin: 0"><strong>{{ total.2 }}</strong></p>
                    <p>标签</p>
                </a>
            </div>
        </div>
        <div class="row" style="margin: 0 2px">
            <div class="col-md-7">
                <a href="https://github.com/bai3">
                    <i class="iconfont icon-github"></i>
                    GitHub
                </a>
            </div>
            <div class="col-md-5">
                <a href="https://weibo.com/u/5883663748?refer_flag=1001030201_">
                    <i class="iconfont icon-weibotaidu"></i>
                    微博
                </a>
            </div>
        </div>
        <div class="row" style="margin: 0">
            <div class="col-md-7">
                <a href="https://www.facebook.com/profile.php?id=100010733615099">
                    <i class="iconfont icon-facebook_"></i>
                    facebook
                </a>
            </div>
            <div class="col-md-5">
                <a href="mailto:bzxdwyyx@163.com">
                    <i class="iconfont icon-mail"></i>
                    Mail
                </a>
            </div>
        </div>
    </div>
</aside>