<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            首页
        {% endblock %}
    </title>
    <script src="/static/js/common/jquery.min.js"></script>
    <link rel="shortcut icon" href="/static/img/common/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/common/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index/index.css">
    <!-- 阿里妈妈图标库 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_406999_7e73qkalfxkcsor.css">
    <!-- end -->
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
    {% include '../layout/navbar.html' %}
    {% block banner %}
    {% endblock %}
    <section>
        <div class="container" style="margin-bottom:100px">
            <div class="row">
            {% block content %}
                {% block aside %}{% endblock %}
                {% block main  %}{% endblock %}
            {% endblock %}
            </div>
        </div>
    </section>
    {% include '../layout/footer.html' %}

    <script src="/static/js/common/bootstrap.min.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?2117f1921bb5906ce08329e659dda176";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

</body>
</html>
