<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                        Copyright © By 白三 <br>
                        友情链接: <a href="http://www.woyumen4597.me">http://www.woyumen4597.me</a>
                </div>
            </div>
        </div>
    </footer>
<a id="back-to-top" title="起飞" hidden>
    <i class="iconfont icon-huojian"></i>
</a>
<script>
     $(document).ready(function() {

        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
        $(function() {
            $(window).scroll(function() {
                if ($(window).scrollTop() > 100) {
                    $("#back-to-top").fadeIn(1500);
                } else {
                    $("#back-to-top").fadeOut(1500);
                    $('#back-to-top').css('background','blue')
                }
            });
            //当点击跳转链接后，回到页面顶部位置
            $("#back-to-top").click(function() {
                $('#back-to-top').css('background','red');
                $('body,html').animate({
                scrollTop: 0
                },
                1000);
                return false;
            });
        });
  });
</script>