body{
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    padding: 0 !important;
}
.hide{
    display: none !important;
}
a{
    cursor: pointer;
    color: #377ab7;
    text-decoration: none;
    background-color: transparent;
}
a:focus, a:hover {
    color: #2f2f2f;
    text-decoration: none;
}
ol, ul {
    padding-left: 0;
}
ul{
    padding-left: 0;
}
li{
    line-height: 20px;
}
.iconfont {
    font-family: iconfont!important;
    font-size: inherit;
    font-style: normal;
    font-weight: 400!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sign{
    height: 100%;
    min-height: 750px;
    text-align: center;
    font-size: 14px;
    background-color: #f1f1f1;
}
.sign .main {
    width: 400px;
    margin: 60px auto 0;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    vertical-align: middle;
    display: inline-block;
}
.sign .reset-title, .sign .title {
    margin: 0 auto 50px;
    padding: 10px;
    font-weight: 400;
    color: #969696;
}
@media (max-width: 768px) {
    body {
        min-width:0
    }

    .sign {
        height: auto;
        min-height: 0;
        background-color: transparent
    }
    .sign .logo {
        display: none;
    }
    .sign .main {
        position: absolute;
        left: 50%;
        margin: 0 0 0 -200px;
        box-shadow: none
    }
}
.sign .reset-title a, .sign .title a {
    padding: 10px;
    color: #969696;
}
.sign .reset-title .active, .sign .title .active {
    font-weight: 700;
    color: #ea6f5a;
    border-bottom: 2px solid #ea6f5a;
}
.sign .reset-title b, .sign .title b {
    padding: 10px;
}
b, strong {
    font-weight: 700;
}
.sign .reset-title a:hover, .sign .title a:hover {
    border-bottom: 2px solid #ea6f5a;
}
.sign form .restyle {
    margin-bottom: 0;
}
.sign form .input-prepend {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.sign form .input-prepend input {
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    padding: 4px 12px 4px 35px;
    border: 1px solid #c8c8c8;
    border-radius: 0 0 4px 4px;
    background-color: hsla(0,0%,71%,.1);
    vertical-align: middle;
}
.sign form .restyle input {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}
.sign form .restyle input::placeholder{
    color: #999;
}
.sign form .input-prepend {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.sign form .input-prepend i {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 18px;
    color: #969696;
}

.sign form .restyle input {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}
.sign form .no-radius input {
    border-radius: 0;
}
.sign form .restyle {
    margin-bottom: 0;
}
.sign .sign-in-button, .sign .sign-up-button {
    width: 100%;
    padding: 9px 18px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background: #42c02e;
    cursor: pointer;
    outline: none;
    display: block;
    clear: both;
}
.sign .sign-up-msg {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #969696;
}
.sign .more-sign {
    margin-top: 30px;
}
.sign .more-sign h6 {
    position: relative;
    margin: 0 0 20px;
    font-size: 12px;
    color: #b5b5b5;
}
.sign .more-sign ul {
    margin-bottom: 30px;
    list-style: none;
}
.sign .more-sign ul li {
    margin: 0 3px;
    display: inline-block;
}
.sign .more-sign ul a {
    width: 50px;
    height: 50px;
    background-color: hsla(0,0%,71%,.2);
    border-radius: 50%;
    line-height: 50px;
    display: block;
}
.sign .more-sign .github {
    background-color: #999;
}
.sign .more-sign .weixin {
    background-color: #00bb29;
}
.sign .more-sign .qq {
    background-color: #498ad5;
}
.sign .more-sign .iconfont {
    color: #fff;
}
.sign .more-sign ul i {
    font-size: 24px;
}

.sign .more-sign h6:after, .sign .more-sign h6:before {
    content: "";
    border-top: 1px solid #b5b5b5;
    display: block;
    position: absolute;
    width: 60px;
    top: 5px;
}
.sign .more-sign h6:before {
    left: 30px;
}
.sign .more-sign h6:after {
    right: 30px;
}
.sign .sign-in-button {
    background: #3194d0;
}
.sign .remember-btn {
    float: left;
    margin: 15px 0;
}
.sign .remember-btn span {
    margin-left: 5px;
    font-size: 15px;
    color: #969696;
    vertical-align: middle;
}
.sign .forget-btn {
    float: right;
    position: relative;
    margin: 15px 0;
    font-size: 14px;
}
.sign .forget-btn a {
    color: #999;
}
.sign .btn-in-resend, .sign .btn-up-resend {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 36px;
    font-size: 13px;
    color: #fff;
    background-color: #42c02e;
    border-radius: 20px;
    line-height: 36px;
}
.sign .disable, .sign .disable-gray {
    opacity: .5;
    pointer-events: none;
}
.sign .logo {
    position: absolute;
    top: 56px;
    margin-left: 50px;
}

